%popup
  background-color: #fff
  border-radius: 35px
  border: 1px solid #eee
  box-shadow: 0 8px 42px 2px rgba(0,0,0, .1)
  padding: 25px 100px
  max-width: 700px
  margin: 0 auto
  text-align: center
  z-index: $z-popup

%popup__title
  color: $text-color
  text-transform: uppercase
  margin-bottom: 25px
  font-weight: 600

%popup__note
  font-size: 14px
  color: $text-color

%popup__link
  color: $light-green
